build/*
dist/*
dsa110_T3.egg-info/*
RELEASE-VERSION
dsa110_voltage_imaging.egg-info/
scripts/dask-worker-space/
scripts/mycomplist.cl
scripts/delays.dat
scripts/tmp.complist
scripts/.ipynb_checkpoints/
scripts/fringestopping_table.npz